*/models/*txt.gz
Pretrain/output*
Pretrain/data_file/MedKLIP
# checkpoints
data
Zero-shot_classification/observation explanation_padchest.json
Zero-shot_classification/features
Finetuning/classification/data
*/*pycache*/
*/*/*pycache*/
*/*/*/*pycache*/


# But whitelist the specific file "gpt3_mimic_important_chest.json"
!Pretrain/concept_gen/gpt4_mimic_padchest_rare.json
!Pretrain/concept_gen/gpt4_mimic.json
Pretrain/cam*
*/*png*
*/.vscodes
.idea/
plot.py
.vscode
*/.vscode
Pretrain/.vscode/launch.json
Pretrain/.vscode/launch_model.json
Pretrain/cl_global_1e-1_clean
*sh
*/__pycached__
